basic/build/basic.bin
basic/build/basic_binary.h
basic/build/basic.lst
basic/build/tokenised.dat
basic/sources/generated/
basic/scripts/__pycache__/tokens.cpython-310.pyc
basic/libraries.zip
bin
emulator/framework/debugger.o
emulator/framework/gfx.o
emulator/framework/main.o
emulator/include/basic_binary.h
emulator/javascript/build
emulator/javascript/neo.*
emulator/neo
emulator/src/core/hardware.o
emulator/src/core/sys_debugger.o
emulator/src/core/sys_processor.o
examples/basic-examples
examples/samples.zip
firmware/build/
firmware/build.sh
firmware/common/include/data/
*.elf
*.uf2
*.pdf
firmware/include/data/basic_binary.h
firmware/include/data/dispatch_code.h
firmware/include/data/prompt.h
firmware/libraries/update_libs.sh
firmware/scripts/build.count
include/data/dispatch_code.h
include/data/prompt.h
kernel/build/kernel.bin
kernel/build/kernel_binary.h
kernel/build/kernel.lst
kernel/build/_vectors.inc
release/*.zip
scripts/build.count
build
.vscode
*.nix
firmware/sources/interface/*.o
.envrc
*.exe
*.o
*.dump
*.log
*.aux
documents/release/api.*
basic/scripts/__pycache__/tokens.cpython-311.pyc
firmware/common/include/data/prompt.h
firmware/common/include/data/neolocale.h
firmware/common/include/data/sfxdata.h
emulator/neolinux.zip
emulator/6502/__6502mnemonics.h
emulator/6502/__6502opcodes.h
emulator/6502/__6502support.h
emulator/cross-compile/neowin.zip
basic/_include.inc
kernel/neo6502.inc
basic/test.bsc
basic/tests/__pycache__/testutils.cpython-311.pyc
.cache