kernel/build/_vectors.inc
kernel/build/kernel.bin
kernel/build/kernel.lst
kernel/build/kernel_binary.h
include/data/dispatch_code.h
include/data/prompt.h
scripts/build.count
bin/firmware.elf
bin/firmware.uf2
firmware/build.sh
firmware/build/
firmware/firmware.elf
firmware/firmware.uf2
firmware/include/data/dispatch_code.h
firmware/include/data/prompt.h
firmware/libraries/update_libs.sh
release/*
emulator/framework/debugger.o
emulator/framework/gfx.o
emulator/framework/main.o
emulator/import/sources/interface/console.o
emulator/import/sources/interface/dispatch.o
emulator/import/sources/interface/graphics.o
emulator/import/sources/interface/keyboard.o
emulator/import/sources/interface/maths.o
emulator/import/sources/interface/memory.o
emulator/src/core/hardware.o
emulator/src/core/sys_debugger.o
emulator/src/core/sys_processor.o
bin/neo
emulator/include/basic_binary.h
emulator/neo
firmware/include/data/basic_binary.h
firmware/scripts/build.count
software/apple1-basic/build/a1basic.lst
software/fig-forth/build/fig-forth.lst

