basic/build/basic.bin
basic/build/basic_binary.h
basic/build/basic.lst
basic/build/tokenised.dat
basic/scripts/__pycache__/tokens.cpython-310.pyc
bin/firmware.elf
bin/firmware.uf2
bin/neo
emulator/framework/debugger.o
emulator/framework/gfx.o
emulator/framework/main.o
emulator/import/sources/interface/console.o
emulator/import/sources/interface/dispatch.o
emulator/import/sources/interface/graphics.o
emulator/import/sources/interface/keyboard.o
emulator/import/sources/interface/maths.o
emulator/import/sources/interface/memory.o
emulator/include/basic_binary.h
emulator/neo
emulator/src/core/hardware.o
emulator/src/core/sys_debugger.o
emulator/src/core/sys_processor.o
firmware/build/
firmware/build.sh
firmware/firmware.elf
firmware/firmware.uf2
firmware/include/data/basic_binary.h
firmware/include/data/dispatch_code.h
firmware/include/data/prompt.h
firmware/libraries/update_libs.sh
firmware/scripts/build.count
include/data/dispatch_code.h
include/data/prompt.h
kernel/build/kernel.bin
kernel/build/kernel_binary.h
kernel/build/kernel.lst
kernel/build/_vectors.inc
release/*
scripts/build.count
software/apple1-basic/build/a1basic.lst
software/fig-forth/build/fig-forth.lst
build
.vscode
*.nix
.envrc