// ***************************************************************************************
// ***************************************************************************************
//
//      Name :      dispatch.config
//      Authors :   Paul Robson (paul@robsons.org.uk)
//      Date :      22nd November 2023
//      Reviewed :  No
//      Purpose :   Dispatched for commands
//
// ***************************************************************************************
// ***************************************************************************************

include defines.config.inc

include system/group1_system.inc
include display/group2_console.inc
include system/group3_fileio.inc
include mathematics/group4_maths.inc
include display/group5_graphics.inc
include display/group6_sprites.inc
include miscellany/group7_controller.inc
include miscellany/group8_sound.inc
include display/group9_turtle.inc
include system/group10_uext.inc


// ***************************************************************************************
// Notes regarding the format of this document:
//
// This document (and the includes above) is an input to makedispatch.py,
// which generates the C header file for commands dispatch ('dispatch_code.h'),
// and the LaTeX documentation source file ('api.texi') for the API.
// The parser injects tables and table rows into the template 'api.texi.in',
// based on entries in this file; and injects the 'mtime' of this file as the date.
//
// All "tokens" described below are assumed to be white-space delimited
// ("immediately followed by") implies some white-space separation.
// The special tokens 'GROUP', 'FUNCTION', and 'DOCUMENTATION'
// must be the first token on its line, and must be upper-case.
//
// The 'GROUP' tokens must be immediately followed by an Group index number.
// That number may be followed optionally by a CSV list of Function indices
// which should have a page-break inserted before them. If present, the list must
// begin with a comma, contain no spaces, and immediately follow the index number.
// The Function tables will not automatically span multiple pages.
// As new data is added, the table may become too large to fit on one page,
// will "float" to an unintended position in the document, and will not print correctly.
// There is a plugin which can manage page-breaks within tables, but it is not used.
// These page-breaks will need to be adjusted manually, as table rows or cell contents
// are added or removed, to ensure that each table fits optimally on one page.
// If no Function is defined at a specified index, the page-break will be inserted
// before the Function at the next greatest index.
// The index number or the page-breaks list (if present) may be followed
// optionally by a formal name for the Group, which may include spaces.
// If a page-breaks list is absent, the Group Name must not begin with a comma.
//
// The 'FUNCTION' tokens must be immediately followed by a Function index number.
// That number may be followed optionally by a formal name for the Function.
// The Function name may include spaces.
// If present, the Group and Function names will be used in the table headers.
// Lines following 'FUNCTION' tokens are output to the C header file verbatim.
//
// Lines following 'DOCUMENTATION' tokens will be processed by a TeX compiler.
// There are a few caveats to be aware of. If the TeX parser fails, it is
// probably a character in this file which is being misinterpreted.
// Try to avoid special characters, especially underscore and back-slash.
// All white-space is consolidated (HTML-style). Use LaTeX for special formatting.
// Most LaTeX syntax will be processed properly; though contrary to LaTeX syntax,
// dollar symbols must _not_ be escaped. The python parser handles those.
// The only places where white-space is significant is after a \newline directive.
// To separate paragraphs, add '\newline' followed by an empty line.
// '\newline' alone will not insert any vertical spacing betwen paragraphs.
//
// ***************************************************************************************
