// ***************************************************************************************
// ***************************************************************************************
//
//      Name :      dispatch.config
//      Authors :   Paul Robson (paul@robsons.org.uk)
//      Date :      22nd November 2023
//      Reviewed :  No
//      Purpose :   Dispatched for commands
//
// ***************************************************************************************
// ***************************************************************************************

// ***************************************************************************************
//
//									Group 0 (System)
//
// ***************************************************************************************

group 1
	function 0 										// Function 0 resets the interface
		DSPReset();

	function 1 										// Function 1 copies the 32 bit system timer
		*((uint32_t *)DPARAMS) = TMRRead(); 		// (assumes littleendian)

// ***************************************************************************************
//
//									Group 1 (Console)
//
// ***************************************************************************************

group 2
	function 0 										// Function 0 is console out
		CONWrite(*DPARAMS);
	function 1 										// Function 1 is console in
		*(DPARAMS) = KBDGetKey();
	function 2 										// Function 2 is key available in queue
		*(DPARAMS) = KBDIsKeyAvailable() ? 0xFF: 0;