// ***************************************************************************************
// ***************************************************************************************
//
//      Name :      dispatch.config
//      Authors :   Paul Robson (paul@robsons.org.uk)
//      Date :      22nd November 2023
//      Reviewed :  No
//      Purpose :   Dispatched for commands
//
// ***************************************************************************************
// ***************************************************************************************

// ***************************************************************************************
//
//									Group 0 (System)
//
// ***************************************************************************************

group 0
	function 0 							// Function 0 resets the interface
		DSPReset();

	function 1 							// Function 1 copies the 32 bit system timer
		*((uint32_t *)PARAMS) = TMRRead();

// ***************************************************************************************
//
//									Group 1 (Console)
//
// ***************************************************************************************

group 1
	function 0 							// Function 0 is console out
		CONWrite(*PARAMS);