// ***************************************************************************************
// ***************************************************************************************
//
//      Name :      maths_binary.config
//      Authors :   Paul Robson (paul@robsons.org.uk)
//      Date :      1st December 2023
//      Reviewed :  No
//      Purpose :   Maths "co-processor" (binary)
//
// ***************************************************************************************
// ***************************************************************************************

	function 0 										// Add
		if (MATHIsFloatBinary()) {
			MATHWriteFloat(MATHReadFloat(MATH_REG1)+MATHReadFloat(MATH_REG2),MATH_REG1);
		} else {
			MATHWriteInt(MATHReadInt(MATH_REG1)+MATHReadInt(MATH_REG2),MATH_REG1);
		}

	function 1 										// Subtract
		if (MATHIsFloatBinary()) {
			MATHWriteFloat(MATHReadFloat(MATH_REG1)-MATHReadFloat(MATH_REG2),MATH_REG1);
		} else {
			MATHWriteInt(MATHReadInt(MATH_REG1)-MATHReadInt(MATH_REG2),MATH_REG1);
		}

	function 2 										// Multiply
		if (MATHIsFloatBinary()) {
			MATHWriteFloat(MATHReadFloat(MATH_REG1)*MATHReadFloat(MATH_REG2),MATH_REG1);
		} else {
			MATHWriteInt(MATHReadInt(MATH_REG1)*MATHReadInt(MATH_REG2),MATH_REG1);
		}

	function 3 										// Float Divide
		f1 = MATHReadFloat(MATH_REG2);
		if (f1 == 0.0) {
			*DERROR = 1;
		} else {
			MATHWriteFloat(MATHReadFloat(MATH_REG1)/f1,MATH_REG1);
		}

	function 4 										// Int Divide
		i1 = MATHReadInt(MATH_REG1);
		i2 = MATHReadInt(MATH_REG2);
		if (i2 == 0) {
			*DERROR = 1;
		} else {
			MATHWriteInt(i1/i2,MATH_REG1);
		}

	function 5 										// Int Modulus
		i1 = MATHReadInt(MATH_REG1);
		i2 = MATHReadInt(MATH_REG2);
		if (i2 == 0) {
			*DERROR = 1;
		} else {
			MATHWriteInt(abs(i1) % abs(i2),MATH_REG1);
		}

	function 6 										// Compare
		*DSTATUS = 0;
		if (MATHIsFloatBinary()) {
			f1 = MATHReadFloat(MATH_REG1);
			f2 = MATHReadFloat(MATH_REG2);
			float diff = (float_abs(f1)+float_abs(f2)) * 0.0000001f;
			if (float_abs(f1-f2) >= diff) {
				*DSTATUS = (f1 < f2 ? 0xFF:0x01);
			} 
		} else {
			i1 = MATHReadInt(MATH_REG1);
			i2 = MATHReadInt(MATH_REG2);
			if (i1 != i2) *DSTATUS = (i1 < i2 ? 0xFF:0x01);
		}
