// ***************************************************************************************
// ***************************************************************************************
//
//      Name :      maths_unary.config
//      Authors :   Paul Robson (paul@robsons.org.uk)
//      Date :      1st December 2023
//      Reviewed :  No
//      Purpose :   Maths "co-processor" unary ops
//
// ***************************************************************************************
// ***************************************************************************************

	function 16  									// Unary negate 
		if (MATHIsFloatUnary()) {
			MATHWriteFloat(-MATHReadFloat(MATH_REG1),MATH_REG1);
		} else {
			MATHWriteInt(-MATHReadInt(MATH_REG1),MATH_REG1);
		}

	function 17  									// Integer part
		if (MATHIsFloatBinary()) {
			MATHWriteInt(MATHReadInt(MATH_REG1),MATH_REG1);
		}
		
//  	random.float
// 	    random.int
//  	abs
//  	sqr
//  	sin
//  	cos
//  	tan
//  	atan
//  	log
//  	exp
