// ***************************************************************************************
// ***************************************************************************************
//
//      Name :      maths_other.config
//      Authors :   Paul Robson (paul@robsons.org.uk)
//      Date :      1st December 2023
//      Reviewed :  No
//      Purpose :   Maths "co-processor"
//
// ***************************************************************************************
// ***************************************************************************************

	function 32 									// Append decimal digits, convert to float
		MATHProcessDecimal(DCOMMAND);
		
	function 33 						 			// Convert to int/float
		MATHConvertStringToNumber(DCOMMAND);

	function 34 									// Convert int/float to string
		MATHConvertNumberToString(DCOMMAND);