name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
        sudo apt update -y -qq
        sudo apt install -y build-essential cmake git python3 python3-pip 64tass zip
        sudo apt install -y libsdl2-dev gcc-arm-none-eabi mingw-w64 g++-mingw-w64-x86-64
        sudo apt install -y pandoc                                 # for ODT documentation
        sudo apt install -y texlive-latex-base texlive-latex-extra # for PDF documentation
        sudo apt install -y texlive-latex-recommended              # for PDF documentation

        pip install pillow gitpython
        git submodule update --init
        git clone --depth 1 --branch master https://github.com/raspberrypi/pico-sdk /usr/share/pico_sdk

    - name: Build
      run: make

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v3
      with:
        name: release
        path: release/neo6502.zip
