name: release

on:
  release:
    types: [created]

jobs:
  release_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt update -y -qq
          sudo apt install -y build-essential cmake git python3 python3-pip 64tass zip libsdl2-dev gcc-arm-none-eabi
          pip install pillow
          git submodule update --init
          git clone --depth 1 --branch master https://github.com/raspberrypi/pico-sdk /usr/share/pico_sdk

      - name: Build
        run: make

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: release
          path: release/neo6502.zip

      - name: Upload to GitHub Release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "release/neo6502.zip"
          tags: true